<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >Sprint 4</title>
</head>

<body class="text-center" style="background-color:black;">
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand" style="color:white;">Proyecto Ciclo 3</h3>
        <nav class="nav nav-masthead justify-content-center">

        </nav>
    </div>
</header>
<div class="col-md-12">

        <span class="border border-5">
            <img src="../blackout.png" class="img-thumbnail" height="400" width="400">
        </span>

<main role="main" class="inner cover">
    <h1 class="cover-heading" style="color:white;">Bienvenido</h1>
    <div class=" mb-auto">

    <p class="lead">
        <a class="btn btn-outline-primary" style="width: 150px; border-radius: 25px;margin-top: 10px; margin-bottom: 10px; margin-left: 25%;" href="http://localhost:8080/loginUser" >Ingresar Usuario</a>
        <a class="btn btn-outline-primary" style="width: 150px; border-radius: 25px;margin-top: 10px; margin-bottom: 10px; margin-left: 25%;" href="http://localhost:8080/userRegister"  >Registrar Usuario</a>
    </p>
    </div>
</main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>
</body>
</html>




